:root {
    --color-green-01: #e3fff3;
    --color-green-02: #d1ffee;
    --color-green-03: #b3ffe3;
    --color-green-04: #87ffd1;
    --color-green-05: #53ffbc;
    --color-green-06: #3fe1b0;
    --color-green-07: #2ac3a2;
    --color-green-08: #008787;
    --color-green-09: #005e5e;
    --color-green-10: #084036;
    --color-blue-01: #abf2ff;
    --color-blue-02: #80ebff;
    --color-blue-03: #0df;
    --color-blue-04: #00b3f4;
    --color-blue-05: #0090ed;
    --color-blue-06: #0060df;
    --color-blue-07: #0250bb;
    --color-blue-08: #054096;
    --color-blue-09: #073072;
    --color-blue-10: #0a204d;
    --color-violet-01: #e7dfff;
    --color-violet-02: #d9bfff;
    --color-violet-03: #cb9eff;
    --color-violet-04: #c688ff;
    --color-violet-05: #ab71ff;
    --color-violet-06: #9059ff;
    --color-violet-07: #7542e4;
    --color-violet-08: #592acb;
    --color-violet-09: #45278d;
    --color-violet-10: #321c64;
    --color-purple-01: #f7e2ff;
    --color-purple-02: #f6b8ff;
    --color-purple-03: #f68fff;
    --color-purple-04: #f564ff;
    --color-purple-05: #d74cf0;
    --color-purple-06: #b933e1;
    --color-purple-07: #952bb9;
    --color-purple-08: #722291;
    --color-purple-09: #4e1a6a;
    --color-purple-10: #2b1141;
    --color-pink-01: #ffdff0;
    --color-pink-02: #ffb4dc;
    --color-pink-03: #ff8ac6;
    --color-pink-04: #ff6bba;
    --color-pink-05: #ff4aa2;
    --color-pink-06: #ff2a8a;
    --color-pink-07: #e21587;
    --color-pink-08: #c60184;
    --color-pink-09: #7f155b;
    --color-pink-10: #50134b;
    --color-red-01: #ffdfe7;
    --color-red-02: #ffbdc5;
    --color-red-03: #ff9aa2;
    --color-red-04: #ff848b;
    --color-red-05: #ff6a75;
    --color-red-06: #ff4f5f;
    --color-red-07: #e12850;
    --color-red-08: #c50043;
    --color-red-09: #810220;
    --color-red-10: #440306;
    --color-orange-01: #fff4de;
    --color-orange-02: #ffd5b2;
    --color-orange-03: #ffb587;
    --color-orange-04: #ffa266;
    --color-orange-05: #ff8a50;
    --color-orange-06: #ff7139;
    --color-orange-07: #e25820;
    --color-orange-08: #cc3d00;
    --color-orange-09: #9e280b;
    --color-orange-10: #7b1504;
    --color-yellow-01: #ffc;
    --color-yellow-02: #ffff98;
    --color-yellow-03: #ffea80;
    --color-yellow-04: #ffd567;
    --color-yellow-05: #ffbd4f;
    --color-yellow-06: #ffa437;
    --color-yellow-07: #e27f2e;
    --color-yellow-08: #c45a27;
    --color-yellow-09: #a7341f;
    --color-yellow-10: #960e18;
    --color-light-gray-01: #fff;
    --color-light-gray-02: #f9f9fb;
    --color-light-gray-03: #f0f0f4;
    --color-light-gray-04: #e0e0e6;
    --color-light-gray-05: #cfcfd8;
    --color-light-gray-06: #bfbfc9;
    --color-light-gray-07: #afafba;
    --color-light-gray-08: #9f9fad;
    --color-light-gray-09: #8f8f9e;
    --color-light-gray-10: #80808f;
    --color-dark-gray-01: #5b5b66;
    --color-dark-gray-02: #52525e;
    --color-dark-gray-03: #4a4a55;
    --color-dark-gray-04: #42414d;
    --color-dark-gray-05: #3a3944;
    --color-dark-gray-06: #32313c;
    --color-dark-gray-07: #2b2a33;
    --color-dark-gray-08: #23222b;
    --color-dark-gray-09: #1c1b22;
    --color-dark-gray-10: #15141a;
    --color-marketing-gray-01: #f9f9fa;
    --color-marketing-gray-02: #ededf0;
    --color-marketing-gray-03: #cdcdd4;
    --color-marketing-gray-04: #b1b1bc;
    --color-marketing-gray-05: #9595a2;
    --color-marketing-gray-06: #7a7a8b;
    --color-marketing-gray-07: #5e5e72;
    --color-marketing-gray-08: #42435a;
    --color-marketing-gray-09: #1f2033;
    --color-marketing-gray-10: #141422;
    --color-ink-01: #393473;
    --color-ink-02: #342f6d;
    --color-ink-03: #312a64;
    --color-ink-04: #2e255d;
    --color-ink-05: #2b2156;
    --color-ink-06: #291d4f;
    --color-ink-07: #271948;
    --color-ink-08: #20123a;
    --color-ink-09: #20133a;
    --color-ink-10: #1d1133;
    --color-black: #000;
    --color-white: #fff;
    --page-bg: #fff;
    --card-bg: var(--page-bg);
    --color-click: var(--color-blue-06);
    --color-success: var(--color-green-06);
    --color-warning: var(--color-yellow-03);
    --color-error: var(--color-red-05);
    --color-shade-bg: var(--color-light-gray-02);
    --color-error-hover: var(--color-red-07);
    --color-inverse-bg: var(--color-ink-09);
    --color-inverse: var(--color-white);
    --color-heading: var(--color-inverse-bg);
    --color-text: var(--color-marketing-gray-08);
    --color-text-light: var(--color-marketing-gray-07);
    --color-link: var(--color-click);
    --color-link-visited: var(--color-purple-06);
    --color-link-active-bg: var(--color-marketing-gray-02);
    --color-secondary: var(--color-marketing-gray-06);
    --color-link-inverse-visited: var(--color-purple-02);
    --color-link-inverse-active-bg: rgba(237,237,240,0.2);
    --color-border: var(--color-marketing-gray-02);
    --color-callout-bg: var(--color-marketing-gray-02);
    --color-moz-heading: #000;
    --color-moz-text: var(--color-moz-heading);
    --color-moz-inverse-bg: var(--color-ink-08);
    --base-font-size: 1rem;
    --heading-font-family-moz: "Zilla Slab",Inter,X-LocaleSpecific,serif;
    --heading-font-family: Metropolis,Inter,X-LocaleSpecific,sans-serif;
    --heading-alt-font-family: var(--heading-font-family);
    --code-font-family: "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
    --global-margin: 1rem;
    --global-radius: 4px;
    --focus-shadow: 0 0 0 4px rgba(0,96,223,0.3),0 0 0 2px #008aea;
}